Repository 3scale/porta, pull requests merged in 2020-07, with the labels that each got.

#2020 Upgrade @patternfly/react-core
  portafly/package.json
  portafly/src/components/AppLayout.tsx
  portafly/src/components/Root.tsx
  portafly/src/components/pages/accounts/AccountsIndexPage.tsx
  portafly/src/components/pages/accounts/AccountsTable.tsx
  portafly/src/components/shared/data-list/modals/DataListModal.tsx
  portafly/src/tests/components/AppLayout.test.tsx
  portafly/src/tests/components/shared/data-list/__snapshots__/SearchWidget.test.tsx.snap
  portafly/src/tests/components/shared/data-list/examples/DataListTable.tsx
  portafly/yarn.lock
Labels: portafly

#2014 Update Product > Applications index page UX specs
  portafly/doc/ux_specs/index.md
  portafly/doc/ux_specs/product/applications/index.md
Labels: portafly

#2015 Add UX specs for Account overview page
  portafly/doc/ux_specs/accounts/account_overview.md
  portafly/doc/ux_specs/index.md
Labels: portafly

#2016 Add UX specs for Account > Applications index page
  portafly/doc/ux_specs/accounts/account-applications-index.md
  portafly/doc/ux_specs/index.md
Labels: portafly

#2019 Add shared component for State Labels
  portafly/src/components/pages/Overview.tsx
  portafly/src/components/shared/data-list/StateLabel.tsx
  portafly/src/components/shared/data-list/index.ts
  portafly/src/tests/components/shared/data-list/StateLabel.test.tsx
Labels: portafly

#1824 Add Account settings Users path to Portafly OAS
  portafly/portafly_api.yml
Labels: portafly

#2028 Include 'service_name' in /admin/api/accounts/:id/applications
  app/representers/cinstance_representer.rb
  spec/acceptance/api/application_spec.rb
Labels: portafly, ruby

#2000 Refactor LazyRoute to support passing props better
  portafly/src/App.tsx
  portafly/src/components/LazyRoute.tsx
  portafly/src/tests/components/LazyRoute.test.tsx
Labels: portafly

#1988 Portafly - Applications index
  portafly/src/App.tsx
  portafly/src/components/pages/Applications.tsx
  portafly/src/components/pages/accounts/AccountsDataListTable.tsx
  portafly/src/components/pages/applications/ApplicationPageLink.tsx
  portafly/src/components/pages/applications/ApplicationsDataListTable.tsx
  portafly/src/components/pages/applications/ApplicationsIndexPage.tsx
  portafly/src/components/pages/applications/ApplicationsTable.tsx
  portafly/src/components/pages/applications/CreateApplicationButton.tsx
  portafly/src/components/pages/applications/index.ts
  portafly/src/components/pages/applications/utils/applicationsTableDataFactory.tsx
  portafly/src/components/pages/applications/utils/index.ts
  portafly/src/components/pages/index.tsx
  portafly/src/components/pages/plans/PlanOverviewLink.tsx
  portafly/src/components/pages/plans/index.ts
  portafly/src/components/shared/data-list/StateLabel.tsx
  portafly/src/dal/accounts/getDeveloperAccounts.ts
  portafly/src/dal/applications/getApplications.ts
  portafly/src/dal/applications/index.ts
  portafly/src/i18n/locales/en/applications/listing.yml
  portafly/src/i18n/locales/en/index.ts
  portafly/src/tests/components/pages/accounts/AccountsTable.test.tsx
  portafly/src/tests/components/pages/accounts/utils/accountsTableDataFactory.test.tsx
  portafly/src/tests/components/pages/applications/ApplicationPageLink.test.tsx
  portafly/src/tests/components/pages/applications/ApplicationsDataListTable.test.tsx
  portafly/src/tests/components/pages/applications/ApplicationsIndexPage.test.tsx
  portafly/src/tests/components/pages/applications/ApplicationsTable.test.tsx
  portafly/src/tests/components/pages/applications/CreateApplicationButton.test.tsx
  portafly/src/tests/components/pages/applications/utils/__snapshots__/applicationsTableDataFactory.test.ts.snap
  portafly/src/tests/components/pages/applications/utils/applicationsTableDataFactory.test.ts
  portafly/src/tests/components/pages/plans/PlanOverviewLink.test.tsx
  portafly/src/tests/components/shared/data-list/StateLabel.test.tsx
  portafly/src/tests/factories/applications.ts
  portafly/src/tests/factories/index.ts
  portafly/src/tests/factories/plan.ts
  portafly/src/types/application.d.ts
  portafly/src/types/index.d.ts
  portafly/src/types/plan.d.ts
  portafly/src/types/utils.d.ts
Labels: portafly

#2035 ux specs for product overview page
  portafly/doc/ux_specs/index.md
  portafly/doc/ux_specs/product/overview.md
Labels: portafly

#2036 [PortaFly] Storing API data in State
  portafly/src/components/pages/Overview.tsx
  portafly/src/components/pages/accounts/AccountsDataListTable.tsx
  portafly/src/components/pages/applications/ApplicationsDataListTable.tsx
  portafly/src/components/shared/data-list/DataListContext.tsx
  portafly/src/components/shared/data-list/reducers/DataReducer.ts
  portafly/src/components/shared/data-list/reducers/index.ts
  portafly/src/tests/components/shared/data-list/DataListContext.test.tsx
Labels: portafly

#2029 Dummy PF4 Page Header
  portafly/src/assets/img_avatar.svg
  portafly/src/components/AppHeaderTools.tsx
  portafly/src/components/Root.tsx
  portafly/src/components/index.tsx
  portafly/src/tests/components/AppHeaderTools.test.tsx
Labels: portafly

#2012 Update Accounts index page according to new UX Spec
  portafly/src/components/pages/accounts/AccountsIndexPage.tsx
  portafly/src/components/pages/accounts/CreateAccountButton.tsx
  portafly/src/components/pages/accounts/ExportAccountsButton.tsx
  portafly/src/components/pages/accounts/index.ts
  portafly/src/components/pages/accounts/utils/accountsTableDataFactory.tsx
  portafly/src/tests/components/pages/accounts/utils/__snapshots__/accountsTableDataFactory.test.tsx.snap
  portafly/src/tests/components/pages/accounts/utils/accountsTableDataFactory.test.tsx
Labels: portafly

#2024 [Refactor] Move display methods to the decorator for User and Account
  app/decorators/account_decorator.rb
  app/decorators/user_decorator.rb
  app/helpers/buyers/accounts_helper.rb
  app/helpers/posts_helper.rb
  app/lib/csv/buyers_exporter.rb
  app/lib/three_scale/analytics/user_tracking.rb
  app/mailers/notification_mailer.rb
  app/mailers/provider_user_mailer.rb
  app/mailers/topic_mailer.rb
  app/models/user.rb
  app/views/api/proxy_configs/index.html.slim
  app/views/buyers/accounts/_search_results.html.slim
  app/views/buyers/accounts/bulk/_selected_accounts.html.erb
  app/views/buyers/accounts/show.html.slim
  app/views/buyers/applications/bulk/_selected_applications.html.erb
  app/views/buyers/service_contracts/bulk/_selected_contracts.html.erb
  app/views/buyers/users/edit.html.erb
  app/views/buyers/users/index.html.erb
  app/views/buyers/users/show.html.erb
  app/views/provider/admin/account/users/index.html.slim
  app/views/provider/admin/accounts/suspended.html.slim
  app/views/provider/admin/onboarding/wizard/info/intro.html.slim
  app/views/shared/_service_access.slim
  app/views/shared/provider/_header.html.slim
  features/step_definitions/mailers/notification_mailer_steps.rb
  lib/developer_portal/lib/liquid/drops/user.rb
  test/decorators/account_decorator_test.rb
  test/decorators/user_decorator_test.rb
  test/helpers/posts_helper_test.rb
  test/mailers/notification_mailer_test.rb
  test/unit/liquid/drops/user_drop_test.rb
  test/unit/mailers/provider_user_mailer_test.rb
  test/unit/mailers/user_mailer_test.rb
  test/unit/messengers/cinstance_messenger_test.rb
  test/unit/three_scale/analytics/user_tracking_test.rb
  test/unit/user_test.rb
Labels: Priority: Blocker, cleanup, enhancement, ruby, tech-debt

#2048 🐛 Portafly - Fixes bug in typings
  portafly/src/types/account.d.ts
Labels: Priority: Blocker, portafly

#2045 Change validation for Host Header to support <host>:<port>
  app/models/proxy.rb
  test/unit/proxy_test.rb
Labels: ruby

#2030 Add UX specs for Create product page
  portafly/doc/ux_specs/index.md
  portafly/doc/ux_specs/product/create_product.md
Labels: portafly

#2031 Add UX specs for Edit product page
  portafly/doc/ux_specs/index.md
  portafly/doc/ux_specs/product/edit_product.md
Labels: portafly

#2055 UX specs for delete confirmation modal
  portafly/doc/ux_specs/global_components/modal.md
  portafly/doc/ux_specs/product/overview.md
Labels: portafly

#2054 Fixes Portafly build script
  .circleci/config.yml
  portafly/package.json
  portafly/yarn.lock
Labels: portafly

#2063 Fix HTTP utils and add PUBLIC_URL
  portafly/src/App.tsx
  portafly/src/utils/http.ts
Labels: portafly

#2067 Set i18n debug mode
  portafly/src/i18n/i18n.tsx
Labels: portafly

#2060 Update width in tables
  portafly/doc/ux_specs/accounts/account_applications_index.md
  portafly/doc/ux_specs/accounts/index.md
  portafly/doc/ux_specs/product/applications/index.md
  portafly/src/components/pages/accounts/utils/accountsTableDataFactory.tsx
  portafly/src/components/pages/applications/utils/applicationsTableDataFactory.tsx
Labels: portafly

#2066 🐛 Fix HTTP utils
  portafly/src/tests/utils/http.test.ts
  portafly/src/utils/http.ts
Labels: portafly

#2073 [UX specs] Fixes to delete modal
  portafly/doc/ux_specs/global_components/modal.md
Labels: portafly

#2058 [portafly] Dockerfile and openshift definitions
  portafly/.dockerignore
  portafly/Dockerfile
  portafly/openshift/deploymentconfig.yml
  portafly/openshift/imagestream.yml
  portafly/openshift/route.yml
  portafly/openshift/service.yml
Labels: portafly

#2039 [ci] Adding firefox non-headless
  .circleci/config.yml
  Gemfile.lock
  Gemfile.prod.lock
  features/support/capybara.rb
Labels: ruby

#1979 Remove columns from the DB for THREESCALE-2635
  db/migrate/20200622134955_remove_service_columns.rb
  db/migrate/20200622162824_remove_access_token_columns.rb
  db/migrate/20200622163332_remove_pricing_rule_columns.rb
  db/migrate/20200622163431_remove_proxy_columns.rb
  db/migrate/20200622163553_remove_user_columns.rb
  db/migrate/20200629103209_remove_settings_end_user_columns.rb
  db/migrate/20200629104436_remove_plans_end_user_columns.rb
  db/migrate/20200629105653_remove_cinstances_end_user_columns.rb
  db/migrate/20200629110238_remove_account_columns.rb
  db/oracle_schema.rb
  db/postgres_schema.rb
  db/schema.rb
  test/models/access_token_test.rb
Labels: cleanup, ruby

#2003 Remove EndUserPlans table (and Postgres' procedure)
  db/migrate/20200629105416_remove_end_user_plans_table.rb
  db/migrate/20200629110740_remove_postgres_procedure_end_user_plans_tenant_id.rb
  db/oracle_schema.rb
  db/postgres_schema.rb
  db/schema.rb
Labels: cleanup, ruby

#1981 Remove all code of ignoring columns
  app/models/access_token.rb
  app/models/account.rb
  app/models/contract.rb
  app/models/plan.rb
  app/models/pricing_rule.rb
  app/models/proxy.rb
  app/models/service.rb
  app/models/settings.rb
  app/models/user.rb
  test/unit/fields/fields_test.rb
Labels: cleanup, on hold, ruby, tech-debt

#2084 [oracle] Do not redownload Oracle binaries
  Dockerfile
  script/oracle/001_env.sh
  script/oracle/002_setup.sh
  script/oracle/install-instantclient-packages.sh
Labels: oracle

#2087 Fix Portafly source for the Openshift ImageStream
  portafly/openshift/imagestream.yml
Labels: portafly

#2088 Completely remove dev domain
  .circleci/config.yml
  app/controllers/admin/api_docs/base_controller.rb
  app/controllers/application_controller.rb
  app/controllers/buyers/impersonations_controller.rb
  app/controllers/master/api/domain_controller.rb
  app/controllers/partners/sessions_controller.rb
  app/controllers/provider/admin/api_docs/specs_controller.rb
  app/lib/authentication/strategy/cas.rb
  app/lib/csv/exporter.rb
  app/lib/pdf/report.rb
  app/lib/three_scale/analytics/salesforce.rb
  app/lib/three_scale/analytics/user_tracking.rb
  app/lib/three_scale/dev_domain.rb
  app/lib/three_scale/domain.rb
  app/lib/three_scale/oauth2/redhat_customer_portal_client.rb
  app/lib/three_scale/oauth2/service_discovery_client.rb
  config/application.rb
  config/docker/settings.yml
  config/environments/development.rb
  config/examples/settings.yml
  config/initializers/ssl_request.rb
  lib/developer_portal/app/controllers/developer_portal/swagger/spec_controller.rb
  lib/developer_portal/app/helpers/developer_portal/cms/toolbar_helper.rb
  lib/developer_portal/lib/cms/toolbar.rb
  lib/developer_portal/lib/liquid/drops/application.rb
  lib/developer_portal/lib/liquid/drops/provider.rb
  lib/developer_portal/lib/liquid/drops/urls.rb
  lib/developer_portal/lib/site_account_support.rb
  lib/routing_constraints.rb
  lib/tasks/provider_stats.rb
  lib/three_scale/middleware/dev_domain.rb
  spec/acceptance/api/authentication_provider_spec.rb
  test/integration/application_controller_test.rb
  test/integration/provider/sessions_controller_test.rb
  test/unit/domain_constraints_test.rb
  test/unit/liquid/drops/authentication_provider_drop_test.rb
  test/unit/presenters/oauth_flow_presenter_test.rb
  test/unit/presenters/provider_oauth_flow_presenter_test.rb
  test/unit/presenters/redhat_customer_oauth_flow_presenter_test.rb
  test/unit/three_scale/domain_test.rb
  test/unit/three_scale/middleware/dev_domain_test.rb
  test/unit/three_scale/oauth2/keycloak_client_test.rb
  test/unit/three_scale/oauth2/redhat_customer_portal_client_test.rb
Labels: Priority: Blocker, tech-debt
