Repository 3scale/porta, pull requests merged in 2020-06, with the labels that each got.

#1942 Add missing ids to BulkSelector and BulkActions widgets
  portafly/src/components/data-list/BulkActionsWidget.tsx
  portafly/src/components/data-list/BulkSelectorWidget.tsx
  portafly/src/tests/components/data-list/__snapshots__/BulkActionsWidget.test.tsx.snap
Labels: portafly

#1952 Pass Options as a Prop in Change State Modal
  portafly/src/components/pages/Overview.tsx
  portafly/src/components/shared/data-list/modals/ChangeStateModal.tsx
  portafly/src/tests/components/shared/data-list/modals/ChangeStateModal.test.tsx
Labels: portafly

#1944 Add empty state generic components
  portafly/src/components/pages/audience/accounts/listing/DeveloperAccountsTable.tsx
  portafly/src/components/shared/empty-states/PageEmptyState.tsx
  portafly/src/components/shared/empty-states/TableEmptyState.tsx
  portafly/src/components/shared/empty-states/index.tsx
  portafly/src/components/shared/index.tsx
  portafly/src/tests/components/shared/empty-states/PageEmptyState.test.tsx
  portafly/src/tests/components/shared/empty-states/TableEmptyState.test.tsx
Labels: portafly

#1943 Update some i18n strings
  portafly/src/components/shared/data-list/SearchWidget.tsx
  portafly/src/components/shared/data-list/modals/ChangeStateModal.tsx
  portafly/src/components/shared/data-list/modals/SendEmailModal.tsx
  portafly/src/i18n/locales/en/audience/accounts/listing.yml
  portafly/src/i18n/locales/en/shared.yml
  portafly/src/tests/components/shared/data-list/__snapshots__/SearchWidget.test.tsx.snap
Labels: portafly

#1960 🏗 Stop using Listing when it's an Index
  portafly/doc/ux_specs/index.md
  portafly/src/App.tsx
  portafly/src/components/pages/accounts/AccountsDataListTable.tsx
  portafly/src/components/pages/accounts/AccountsIndexPage.tsx
  portafly/src/components/pages/accounts/AccountsTable.tsx
  portafly/src/components/pages/accounts/ActionButtonImpersonate.tsx
  portafly/src/components/pages/accounts/index.ts
  portafly/src/components/pages/accounts/listing/index.ts
  portafly/src/components/pages/accounts/listing/utils/index.ts
  portafly/src/components/pages/accounts/utils/accountsTableDataFactory.tsx
  portafly/src/components/pages/accounts/utils/index.ts
  portafly/src/components/shared/data-list/SearchWidget.tsx
  portafly/src/i18n/locales/en/index.ts
  portafly/src/tests/components/pages/accounts/AccountsIndexPage.test.tsx
  portafly/src/tests/components/pages/accounts/AccountsTable.test.tsx
  portafly/src/tests/components/pages/accounts/ActionButtonImpersonate.test.tsx
  portafly/src/tests/components/pages/accounts/utils/accountsTableDataFactory.test.ts
  portafly/src/tests/components/shared/data-list/__snapshots__/SearchWidget.test.tsx.snap
Labels: portafly

#1820 Implements Accounts Listing
  portafly/doc/ux_specs/index.md
  portafly/portafly_api.yml
  portafly/src/App.tsx
  portafly/src/components/pages/accounts/AccountsDataListTable.tsx
  portafly/src/components/pages/accounts/AccountsIndexPage.tsx
  portafly/src/components/pages/accounts/AccountsTable.tsx
  portafly/src/components/pages/accounts/ActionButtonImpersonate.tsx
  portafly/src/components/pages/accounts/index.ts
  portafly/src/components/pages/accounts/utils/accountsTableDataFactory.tsx
  portafly/src/components/pages/accounts/utils/index.ts
  portafly/src/components/pages/audience/accounts/index.ts
  portafly/src/components/pages/audience/accounts/listing/DeveloperAccounts.tsx
  portafly/src/components/pages/audience/accounts/listing/DeveloperAccountsTable.tsx
  portafly/src/components/pages/audience/accounts/listing/index.ts
  portafly/src/components/pages/audience/index.ts
  portafly/src/components/pages/index.tsx
  portafly/src/components/shared/data-list/DataListContext.tsx
  portafly/src/components/shared/data-list/SearchWidget.tsx
  portafly/src/i18n/locales/en/audience/accounts/listing.yml
  portafly/src/i18n/locales/en/index.ts
  portafly/src/tests/components/pages/accounts/AccountsDataListTable.test.tsx
  portafly/src/tests/components/pages/accounts/AccountsIndexPage.test.tsx
  portafly/src/tests/components/pages/accounts/AccountsTable.test.tsx
  portafly/src/tests/components/pages/accounts/ActionButtonImpersonate.test.tsx
  portafly/src/tests/components/pages/accounts/utils/accountsTableDataFactory.test.ts
  portafly/src/tests/components/pages/audience/accounts/listing/DeveloperAccounts.test.tsx
  portafly/src/tests/components/pages/audience/accounts/listing/DeveloperAccountsTable.test.tsx
  portafly/src/tests/components/pages/audience/accounts/listing/__snapshots__/DeveloperAccounts.test.tsx.snap
  portafly/src/tests/components/pages/audience/accounts/listing/__snapshots__/DeveloperAccountsTable.test.tsx.snap
  portafly/src/tests/components/shared/data-list/__snapshots__/SearchWidget.test.tsx.snap
Labels: portafly

#1956 Extract isMultitenant as an Env variable
  portafly/src/components/pages/accounts/AccountsDataListTable.tsx
  portafly/src/components/pages/accounts/utils/accountsTableDataFactory.tsx
  portafly/src/tests/components/pages/accounts/utils/__snapshots__/accountsTableDataFactory.test.tsx.snap
  portafly/src/tests/components/pages/accounts/utils/accountsTableDataFactory.test.ts
  portafly/src/tests/components/pages/accounts/utils/accountsTableDataFactory.test.tsx
Labels: portafly

#1967 Adds new column bought_cinstances_count to Accounts table
  db/migrate/20200617105046_add_new_column_to_accounts_bought_c_instances_count.rb
  db/oracle_schema.rb
  db/postgres_schema.rb
  db/schema.rb
Labels: ruby

#1962 [PortaFly] Export as CSV button
  portafly/package.json
  portafly/src/components/pages/accounts/AccountsIndexPage.tsx
  portafly/src/components/pages/accounts/ExportAccountsButton.tsx
  portafly/src/components/pages/accounts/index.ts
  portafly/src/i18n/locales/en/audience/accounts/listing.yml
  portafly/src/tests/components/pages/accounts/AccountsIndexPage.test.tsx
  portafly/yarn.lock
Labels: portafly

#1798 Prevent creating application with forbidden plan in UI
  app/controllers/buyers/applications_controller.rb
  app/views/buyers/applications/_listing.html.slim
  test/integration/buyers/applications_controller_test.rb
Labels: ruby

#1963 Sphinx Real time indexing
  app/indices/account_index.rb
  app/indices/cms_page_index.rb
  app/indices/topic_index.rb
  app/models/account.rb
  app/models/cinstance.rb
  app/models/cms/page.rb
  app/models/post.rb
  app/models/topic.rb
  app/models/user.rb
  app/workers/sphinx_indexation_worker.rb
  config/cucumber.yml
  config/jobs.rb
  config/schedule.rb
  features/old/buyers/accounts/searching.feature
  features/old/buyers/search.feature
  features/old/forums/search_highlighting.feature
  features/old/forums/searching.feature
  features/step_definitions/search_steps.rb
  features/support/env.rb
  features/support/hooks.rb
  features/support/initial_data.rb
  features/support/sphinx.rb
  lib/tasks/openshift.rake
  lib/tasks/sphinx.rake
  openshift/system/config/sidekiq_schedule.yml
  test/integration/master/api/finance/billing_jobs_controller_test.rb
  test/test_helpers/indexer.rb
  test/test_helpers/sphinx.rb
  test/unit/account/search_test.rb
  test/unit/audited_hacks_test.rb
  test/unit/forum_test.rb
  test/unit/queries/proxy_rule_query_test.rb
  test/unit/search_presenters_test.rb
  test/unit/tasks/services_test.rb
  test/workers/create_service_token_worker_test.rb
  test/workers/delete_account_hierarchy_worker_test.rb
  test/workers/delete_object_hierarchy_worker_test.rb
  test/workers/sphinx_indexation_worker_test.rb
Labels: doc-req, ruby

#1986 [Fix] Sphinx starting in openshift
  lib/tasks/openshift.rake
Labels: Priority: Blocker

#1987 Do not detach the Sphinx daemon when starting
  lib/tasks/openshift.rake
Labels: Priority: Blocker, ruby

#1985 [PortaFly] DataList component test
  portafly/src/tests/components/pages/accounts/AccountsTable.test.tsx
  portafly/src/tests/components/shared/data-list/DataListTable.test.tsx
  portafly/src/tests/components/shared/data-list/examples/DataListTable.tsx
Labels: portafly

#1977 [PortaFly] Removing unused features from Account > Index
  portafly/src/components/pages/accounts/AccountsTable.tsx
  portafly/src/components/pages/accounts/utils/accountsTableDataFactory.tsx
  portafly/src/dal/accounts/getDeveloperAccounts.ts
  portafly/src/tests/components/pages/accounts/AccountsTable.test.tsx
  portafly/src/tests/components/pages/accounts/utils/__snapshots__/accountsTableDataFactory.test.tsx.snap
  portafly/src/types/index.d.ts
Labels: portafly

#1996 [openshift] Cleanup files When sphinx is not cleanly shutdown
  lib/tasks/openshift.rake
Labels: Priority: Blocker

#1990 Include 'plan_name' and 'org_name' in /admin/api/applications
  app/representers/cinstance_representer.rb
  spec/acceptance/api/application_spec.rb
Labels: portafly, ruby

#1975 UX specs for Product > Applications index page + Accounts index clean up
  portafly/doc/ux_specs/accounts/index.md
  portafly/doc/ux_specs/global_components/modal.md
  portafly/doc/ux_specs/index.md
  portafly/doc/ux_specs/product/applications/index.md
Labels: portafly

#2006 Updates Portafly http utils
  portafly/src/utils/http.ts
Labels: portafly

#1851 Improve the Admin Portal User search - THREESCALE-632
  app/indices/account_index.rb
  test/unit/account/search_test.rb
Labels: ruby
