Repository 3scale/porta, pull requests merged in 2020-04, with the labels that each got.

#1775 Adding a simple first version of an ongoing shaping OAS3 spec
  portafly/portafly_api.yml
Labels: portafly

#1785 Adds mock server for proposed OAS spec
  portafly/package.json
  portafly/src/App.tsx
  portafly/src/components/EmptyState.tsx
  portafly/src/components/Root.tsx
  portafly/src/components/developer-accounts/DeveloperAccountsTable.tsx
  portafly/src/components/index.tsx
  portafly/src/dal/accounts/getDeveloperAccounts.ts
  portafly/src/dal/accounts/index.ts
  portafly/src/i18n/i18n.tsx
  portafly/src/i18n/locales/en/accounts.yml
  portafly/src/i18n/locales/en/index.ts
  portafly/src/i18n/locales/en/shared.yml
  portafly/src/pages/DeveloperAccounts.tsx
  portafly/src/pages/index.tsx
  portafly/src/tests/components/developer-accounts/DeveloperAccountsTable.test.tsx
  portafly/src/tests/components/developer-accounts/__snapshots__/DeveloperAccountsTable.test.tsx.snap
  portafly/src/tests/examples/developerAccounts.ts
  portafly/src/tests/examples/index.ts
  portafly/src/tests/pages/DeveloperAccountList.test.tsx
  portafly/src/tests/pages/DeveloperAccounts.test.tsx
  portafly/src/tests/pages/__snapshots__/DeveloperAccounts.test.tsx.snap
  portafly/yarn.lock
Labels: portafly

#1831 Remove ThreeScale::AfterCommitOnDestroy
  app/lib/backend/model_extensions/cinstance.rb
  app/lib/backend_client/toggle_backend.rb
  app/lib/three_scale/after_commit_on_destroy.rb
  app/models/application_key.rb
  app/models/referrer_filter.rb
  config/initializers/clear_after_commit_on_destroy_queue.rb
  test/unit/application_keys_test.rb
  test/unit/backend/model_extensions/cinstance_test.rb
  test/unit/backend/model_extensions/keys_test.rb
  test/unit/cinstance_test.rb
  test/unit/referrer_filters_test.rb
Labels: on hold

#1834 Remove Trait in Account to create BackendApi associated to its default Service
  test/factories/account.rb
  test/functional/api/integrations_controller_test.rb
  test/integration/provider/admin/backend_apis/mapping_rules_controller_test.rb
  test/integration/provider/admin/backend_apis/metrics_controller_test.rb
  test/integration/provider/admin/backend_apis/stats/usage_controller_test.rb
Labels: Priority: Low, cleanup, ruby
