Repository 3scale/porta, pull requests merged in 2020-09, with the labels that each got.

#2151 Fix OracleEnhancedAdapter log issue
  config/initializers/oracle.rb
Labels: oracle

#2093 Running on different port
  config/application.rb
  config/docker/unicorn.rb
  config/examples/prometheus.yml
  config/initializers/ssl_request.rb
  config/routes.rb
  lib/prometheus_exporter_port.rb
  lib/routing_constraints.rb
  test/unit/domain_constraints_test.rb
Labels: tech-debt

#2131 4877-Product_ApplicationsIndex UI Strings
  portafly/src/i18n/locales/en/product.yml
Labels: UI Strings, portafly

#2071 5638-Accounts_Account_Overview: Added UI Strings for Account overview and Applications index
  portafly/src/i18n/locales/en/audience/accounts/account.yml
Labels: UI Strings, portafly

#1948 4835-Account_Personal_Details: User details form, modal, and change password.
  portafly/src/i18n/locales/en/account_settings/personal/personal_details.yml
  portafly/src/i18n/locales/en/shared.yml
Labels: UI Strings, on hold, portafly

#1950 4989-Account_Overview_Edit: Edit account details form.
  portafly/src/i18n/locales/en/account_settings/overview/edit_account_details.yml
Labels: UI Strings, on hold, portafly

#2158 Fixes typo and Yaml
  portafly/src/components/pages/Overview.tsx
  portafly/src/components/pages/applications/utils/applicationsTableDataFactory.tsx
  portafly/src/dal/applications/getApplications.ts
  portafly/src/i18n/locales/en/account_settings/personal/personal_details.yml
  portafly/src/i18n/locales/en/account_settings/users/listing-invitations.yml
  portafly/src/i18n/locales/en/applications/listing.yml
  portafly/src/i18n/locales/en/audience/accounts/account.yml
  portafly/src/i18n/locales/en/audience/accounts/listing.yml
  portafly/src/i18n/locales/en/overview.yml
  portafly/src/i18n/locales/en/product.yml
  portafly/src/i18n/locales/en/shared.yml
  portafly/src/tests/components/pages/applications/utils/__snapshots__/applicationsTableDataFactory.test.ts.snap
  portafly/src/tests/factories/applications.ts
Labels: portafly

#2170 Remove Percy
  .circleci/config.yml
  .rubocop.yml
  Gemfile.base
  Gemfile.lock
  Gemfile.prod.lock
  config/cucumber.yml
  config/environments/test.rb
  docker-compose.mk
  features/percy/buyer.feature
  features/percy/common.feature
  features/percy/provider.feature
  features/step_definitions/percy_steps.rb
  features/step_definitions/provider_steps.rb
  features/support/percy.rb
  features/support/webmock.rb
  script/lib/docker
Labels: ruby

#2176 [oracle] Ability to install instantclient-basic
  script/oracle/install-instantclient-packages.sh
Labels: oracle
