Repository 3scale/porta, pull requests merged in 2020-05, with the labels that each got.

#1848 [Bugfix][ORA-00907] Rake backend_api:test_create_default_metrics
  lib/tasks/backend_api.rake
Labels: Priority: Low, bug, oracle, ruby

#1839 [Bugfix][UI] Apisonator Utilization nil => Show message 'This is an unmetered app'
  app/lib/backend_client/application/utilization.rb
  test/integration/api/applications_controller_test.rb
  test/unit/backend_client/application/utilization_test.rb
Labels: Priority: Low, bug, ruby

#1840 [Bugfix] LineItem does not raise an error if the cost cannot be converted to BigDecimal
  app/models/line_item.rb
  test/integration/finance/api/line_items_controller_test.rb
Labels: Priority: Low, bug, ruby

#1845 Do not notify AppKey destroyed if Cinstance is about to be destroyed
  app/models/application_key.rb
  test/unit/application_keys_test.rb
Labels: Priority: Low, bug, ruby

#1846 Upgrade Portafly dependencies
  portafly/package.json
  portafly/yarn.lock
Labels: portafly

#1825 Log in with Auth tokens
  portafly/src/App.tsx
  portafly/src/assets/images/pfbg_1200.jpg
  portafly/src/assets/images/pfbg_2000.jpg
  portafly/src/assets/images/pfbg_576.jpg
  portafly/src/assets/images/pfbg_576@2x.jpg
  portafly/src/assets/images/pfbg_768.jpg
  portafly/src/assets/images/pfbg_768@2x.jpg
  portafly/src/auth/AuthContext.tsx
  portafly/src/auth/index.tsx
  portafly/src/components/PrivateRoute.tsx
  portafly/src/components/Root.tsx
  portafly/src/components/index.tsx
  portafly/src/i18n/locales/en/index.ts
  portafly/src/i18n/locales/en/login.yml
  portafly/src/i18n/locales/en/shared.yml
  portafly/src/pages/Login.tsx
  portafly/src/pages/index.tsx
  portafly/src/tests/auth/AuthContext.test.tsx
  portafly/src/tests/pages/Login.test.tsx
  portafly/src/tests/pages/__snapshots__/Login.test.tsx.snap
  portafly/yarn.lock
Labels: portafly

#1837 Adds a Provider to handle Toast Alerts in all Portafly
  portafly/src/App.tsx
  portafly/src/components/util/AlertsContext.tsx
  portafly/src/components/util/index.tsx
  portafly/src/i18n/locales/en/shared.yml
  portafly/src/pages/Overview.tsx
  portafly/src/tests/components/util/AlertContext.test.tsx
Labels: portafly

#1862 DataList Context
  portafly/src/components/data-list/DataListContext.tsx
  portafly/src/components/data-list/index.ts
  portafly/src/components/data-list/reducers/FiltersReducer.ts
  portafly/src/components/data-list/reducers/index.ts
  portafly/src/tests/components/data-list/DataListContext.test.tsx
  portafly/src/utils/index.ts
Labels: portafly

#1853 [Data List] Search bar component
  portafly/src/components/data-list/DataListContext.tsx
  portafly/src/components/data-list/SearchWidget.tsx
  portafly/src/components/data-list/Toolbar.tsx
  portafly/src/components/data-list/index.ts
  portafly/src/components/data-list/reducers/FiltersReducer.ts
  portafly/src/components/data-list/searchWidget.scss
  portafly/src/pages/Overview.tsx
  portafly/src/tests/components/data-list/DataListContext.test.tsx
  portafly/src/tests/components/data-list/SearchWidget.test.tsx
  portafly/src/tests/components/data-list/__snapshots__/SearchWidget.test.tsx.snap
Labels: portafly

#1849 Remove deprecated test functional IntegrationsController
  test/functional/api/integrations_controller_test.rb
  test/integration/api/integrations_controller_test.rb
Labels: Priority: Low, cleanup, ruby

#1832 [Refactor] Service objects for destroy_backend_value in associations of Application
  app/events/applications/application_deleted_event.rb
  app/lib/backend/model_extensions/cinstance.rb
  app/models/application_key.rb
  app/models/deleted_object.rb
  app/models/referrer_filter.rb
  app/services/application_association_backend_service.rb
  app/services/application_key_backend_service.rb
  app/services/referrer_filter_backend_service.rb
  app/workers/backend_delete_application_worker.rb
  test/events/applications/application_deleted_event_test.rb
  test/unit/backend/model_extensions/cinstance_test.rb
  test/unit/deleted_object_test.rb
  test/unit/services/application_key_backend_service_test.rb
  test/unit/services/referrer_filter_backend_service_test.rb
  test/workers/backend_delete_application_worker_test.rb
Labels: ruby

#1871 Login improvement bits
  portafly/src/pages/Login.tsx
  portafly/src/tests/pages/Login.test.tsx
  portafly/src/tests/pages/__snapshots__/Login.test.tsx.snap
Labels: portafly

#1872 [mob] PaginationWidget
  portafly/src/components/data-list/DataListContext.tsx
  portafly/src/components/data-list/PaginationWidget.tsx
  portafly/src/components/data-list/index.ts
  portafly/src/components/data-list/reducers/FiltersReducer.ts
  portafly/src/components/data-list/reducers/PaginationReducer.ts
  portafly/src/components/data-list/reducers/index.ts
  portafly/src/pages/Overview.tsx
  portafly/src/tests/components/data-list/PaginationWidget.test.tsx
  portafly/src/utils/index.ts
Labels: portafly

#1873 Fix CSRF vulnerability in Login Dev Portal
  app/controllers/concerns/error_handling.rb
  features/developer_portal/login.feature
  features/support/capybara.rb
  lib/developer_portal/app/controllers/developer_portal/login_controller.rb
  test/integration/developer_portal/login_test.rb
  test/integration/sessions_test.rb
  test/test_helpers/authentication.rb
Labels: Priority: High, ruby, security

#1878 Replace manual HTTP requests in Cukes for Integration Tests
  features/old/applications/buyers/referrer_filters/buyer_side_multiple_applications.feature
  features/old/buyers/accounts/security.feature
  features/old/forums/editing.feature
  features/old/forums/provider_side/sticky.feature
  features/step_definitions/applications/referrer_filters_steps.rb
  features/step_definitions/buyers_management/account_steps.rb
  features/step_definitions/buyers_management/user_steps.rb
  features/step_definitions/forum/post_steps.rb
  features/step_definitions/forum/topic_steps.rb
  test/functional/developer_portal/admin/applications/referrer_filters_controller_test.rb
  test/integration/buyers/accounts_controller_test.rb
  test/integration/developer_portal/admin/applications/referrer_filters_controller_test.rb
  test/integration/developer_portal/forums/public/posts_controller_test.rb
  test/integration/developer_portal/forums/public/topics_controller_test.rb
Labels: cleanup, ruby

#1879 [Portafly] Porta-wiring refactor
  portafly/src/auth/AuthContext.tsx
  portafly/src/components/data-list/reducers/PaginationReducer.ts
  portafly/src/dal/accounts/getDeveloperAccounts.ts
  portafly/src/pages/DeveloperAccounts.tsx
  portafly/src/tests/pages/DeveloperAccounts.test.tsx
  portafly/src/utils/auth.ts
  portafly/src/utils/http.ts
  portafly/src/utils/index.ts
  portafly/src/utils/reducers.ts
Labels: portafly

#1881 [Refactor] Functional -> Integration Provider::SessionsControllerTest
  test/functional/provider/sessions_controller_test.rb
  test/integration/provider/sessions_controller_test.rb
Labels: Priority: Low, cleanup, do not review, ruby

#1890 Fixes lint error
  portafly/src/tests/components/AppLayout.test.tsx
Labels: portafly

#1889 Add support for node-sass
  portafly/.stylelintrc.json
  portafly/package.json
  portafly/src/components/data-list/searchWidget.scss
  portafly/yarn.lock
Labels: portafly

#1882 [portafly] BulkSelectorWidget
  portafly/src/components/data-list/BulkSelectorWidget.tsx
  portafly/src/components/data-list/DataListContext.tsx
  portafly/src/components/data-list/index.ts
  portafly/src/components/data-list/reducers/TableReducer.ts
  portafly/src/components/data-list/reducers/index.ts
  portafly/src/i18n/locales/en/shared.yml
  portafly/src/pages/Overview.tsx
  portafly/src/tests/components/data-list/BulkSelectorWidget.test.tsx
  portafly/src/tests/components/data-list/DataListContext.test.tsx
  portafly/src/types/data-list.d.ts
  portafly/src/types/index.d.ts
  portafly/src/utils/reducers.ts
Labels: portafly

#1893 Highlight SSO Integrations in vertical navigation
  app/controllers/provider/admin/authentication_providers_controller.rb
Labels: ruby

#1854 Deletion of stats in Pisoni 1.29.0 doesn't need the data of the 'delete_job' param anymore
  app/events/services/service_deleted_event.rb
  app/models/deleted_object.rb
  app/models/metric.rb
  app/workers/backend_delete_service_worker.rb
  app/workers/backend_delete_stats_worker.rb
  lib/tasks/deleted_objects.rake
  test/events/services/service_deleted_event_test.rb
  test/unit/deleted_object_test.rb
  test/unit/metric_test.rb
  test/unit/tasks/deleted_objects_test.rb
  test/workers/backend_delete_service_worker_test.rb
  test/workers/backend_delete_stats_worker_test.rb
Labels: cleanup

#1897 Fix DataList modal
  portafly/src/components/data-list/modals/DataListModal.tsx
Labels: portafly

#1903 Fix console error in Overview
  portafly/src/components/data-list/BulkActionsWidget.tsx
Labels: portafly

#1901 Small patch for Data List
  portafly/src/components/data-list/BulkSelectorWidget.tsx
  portafly/src/components/data-list/DataListContext.tsx
  portafly/src/components/data-list/modals/dataListModal.scss
  portafly/src/tests/components/data-list/BulkActionsWidget.test.tsx
  portafly/src/types/data-list.d.ts
Labels: portafly

#1828 PortaFly page specs PoC
  portafly/doc/ux_specs/audience/accounts/listing-page.md
  portafly/doc/ux_specs/global_components/modal.md
  portafly/doc/ux_specs/global_components/toolbar.md
  portafly/doc/ux_specs/index.md
Labels: portafly

#1912 Update BulkActionsWidget snapshots
  portafly/src/tests/components/data-list/__snapshots__/BulkActionsWidget.test.tsx.snap
Labels: portafly

#1906 Clean up Portafly Login tests
  portafly/src/tests/pages/Login.test.tsx
  portafly/src/tests/pages/__snapshots__/Login.test.tsx.snap
  portafly/src/types/auth.d.ts
  portafly/src/utils/auth.ts
Labels: portafly

#1902 Adds Sorting to Data List
  portafly/src/components/data-list/reducers/TableReducer.ts
  portafly/src/pages/Overview.tsx
Labels: portafly

#1913 Clean up Portafly Login tests (2)
  portafly/src/auth/AuthContext.tsx
Labels: portafly

#1910 [Portafly] Fixing wrong strings in accounts and shared pages
  portafly/src/components/Root.tsx
  portafly/src/i18n/locales/en/accounts.yml
  portafly/src/i18n/locales/en/shared.yml
Labels: portafly

#1919 Portafly/portafly uxspecs modal
  portafly/doc/ux_specs/global_components/modal.md
Labels: portafly

#1920 Portafly/update modals
  portafly/src/components/data-list/DataListContext.tsx
  portafly/src/components/data-list/modals/ChangeStateModal.tsx
  portafly/src/components/data-list/modals/DataListModal.tsx
  portafly/src/components/data-list/modals/SendEmailModal.tsx
  portafly/src/components/data-list/modals/SubmitButton.tsx
  portafly/src/components/data-list/modals/dataListModal.scss
  portafly/src/components/data-list/modals/index.tsx
  portafly/src/components/data-list/modals/submitButton.scss
  portafly/src/components/data-list/reducers/BulkActionsReducer.ts
  portafly/src/i18n/locales/en/shared.yml
  portafly/src/pages/Overview.tsx
  portafly/src/tests/components/data-list/modals/ChangeStateModal.test.tsx
  portafly/src/tests/components/data-list/modals/SendEmailModal.test.tsx
Labels: portafly

#1925 Refactor / Clean-up of DataList reducers' actions
  portafly/src/components/data-list/reducers/BulkActionsReducer.ts
  portafly/src/components/data-list/reducers/FiltersReducer.ts
  portafly/src/components/data-list/reducers/PaginationReducer.ts
  portafly/src/components/data-list/reducers/TableReducer.ts
Labels: portafly

#1905 Extract filterRows from props
  portafly/src/components/data-list/BulkSelectorWidget.tsx
  portafly/src/components/data-list/SearchWidget.tsx
  portafly/src/components/data-list/index.ts
  portafly/src/components/data-list/reducers/FiltersReducer.ts
  portafly/src/components/data-list/utils/filterRows.ts
  portafly/src/components/data-list/utils/index.ts
  portafly/src/pages/Overview.tsx
  portafly/src/tests/components/data-list/BulkSelectorWidget.test.tsx
  portafly/src/tests/components/data-list/DataListContext.test.tsx
  portafly/src/tests/components/data-list/SearchWidget.test.tsx
  portafly/src/tests/components/data-list/utils/filterRows.test.ts
  portafly/src/types/data-list.d.ts
Labels: portafly

#1931 Fix CVE-2019-11027
  Gemfile.lock
  Gemfile.prod.lock
Labels: dependencies, ruby, security

#1904 Prepare removing monkey patch on request.host
  .gitignore
  app/controllers/concerns/error_handling.rb
  app/controllers/frontend_controller.rb
  app/controllers/master/base_controller.rb
  app/controllers/provider/passwords_controller.rb
  app/lib/authenticated_system.rb
  app/lib/three_scale/api/controller.rb
  app/models/account/provider_domains.rb
  app/presenters/redhat_customer_oauth_flow_presenter.rb
  app/presenters/service_discovery_oauth_flow_presenter.rb
  app/views/layouts/error.html.erb
  config/application.rb
  config/examples/domain_substitution.yml
  lib/developer_portal/app/controllers/developer_portal/admin/account/passwords_controller.rb
  lib/developer_portal/app/controllers/developer_portal/cms/new_content_controller.rb
  lib/developer_portal/lib/site_account_support.rb
  lib/routing_constraints.rb
  lib/three_scale/domain_substitution.rb
  test/unit/domain_constraints_test.rb
  test/unit/domain_substitution_test.rb
  test/unit/site_account_support_test.rb
Labels: Priority: Blocker

#1932 Remove deprecation waitForElement -> waitFor
  portafly/src/tests/components/LazyRoute.test.tsx
Labels: portafly
