Repository 3scale/porta, pull requests merged in 2021-02, with the labels that each got.

#2355 Fixes/Cleanup in Vertical Nav
  app/helpers/menu_helper.rb
  app/helpers/vertical_nav_helper.rb
  app/javascript/packs/vertical_nav.js
  app/javascript/src/Navigation/components/VerticalNav.jsx
  app/views/shared/provider/navigation/_vertical_nav.html.slim
  app/views/shared/provider/navigation/_vertical_nav_item.html.slim
  features/old/menu/account_menu.feature
  features/old/menu/api_menu.feature
  features/old/menu/audience_menu.feature
  features/old/menu/backend_api_menu.feature
  features/old/menu/buyer.feature
  features/step_definitions/menu_steps.rb
Labels: javascript, ruby

#2345 Default plan selector - change to PF typeahead select component
  .flowconfig
  app/controllers/api/application_plans_controller.rb
  app/controllers/api/plans_base_controller.rb
  app/helpers/api/plans_helper.rb
  app/javascript/packs/default_plan_selector.js
  app/javascript/src/Applications/create_application.js
  app/javascript/src/Common/components/Spinner.jsx
  app/javascript/src/Common/components/Spinner.scss
  app/javascript/src/Common/index.jsx
  app/javascript/src/Plans/components/DefaultPlanSelect.jsx
  app/javascript/src/Plans/components/DefaultPlanSelect.scss
  app/javascript/src/Plans/components/DefaultPlanSelectCard.jsx
  app/javascript/src/Plans/components/DefaultPlanSelectCard.scss
  app/javascript/src/Plans/components/DefaultPlanSelectWrapper.jsx
  app/javascript/src/Plans/index.js
  app/javascript/src/Types/index.js
  app/javascript/src/Types/libs/libdefs.js
  app/javascript/src/utilities/ajax.js
  app/javascript/src/utilities/alert.js
  app/javascript/src/utilities/patternfly-utils.jsx
  app/views/api/application_plans/_listing.html.slim
  app/views/api/application_plans/index.html.erb
  app/views/api/plans/_default_plan.html.slim
  app/views/api/plans/_listing.html.slim
  features/old/api/plans/default_plan.feature
  features/step_definitions/api/plan_steps.rb
  package.json
  spec/javascripts/Plans/components/DefaultPlanSelect.spec.jsx
  spec/javascripts/Plans/components/DefaultPlanSelectCard.spec.jsx
  spec/javascripts/__mocks__/global-mocks.js
  spec/javascripts/setupTests.js
  yarn.lock
Labels: javascript, ruby

#2366 [sphinxsearch] Remove topic from indexation
  app/indices/topic_index.rb
  config/docker/thinking_sphinx.yml
  config/thinking_sphinx.yml
Labels: tech-debt

#2383 Allow safeFromJsonString to parse "undefined"
  app/javascript/src/utilities/json-utils.jsx
  spec/javascripts/utilities/json-utils.spec.jsx
Labels: javascript
