Repository 3scale/porta, pull requests merged in 2021-04, with the labels that each got.

#2398 [2.11] Improve list of Application plans in Application plans index page
  app/controllers/api/plan_copies_controller.rb
  app/controllers/api/plans_base_controller.rb
  app/controllers/api/plans_controller.rb
  app/decorators/application_plan_decorator.rb
  app/decorators/plan_decorator.rb
  app/decorators/service_decorator.rb
  app/helpers/api/plans_helper.rb
  app/indices/plan_index.rb
  app/javascript/packs/default_plan_selector.js
  app/javascript/packs/plans_table.js
  app/javascript/src/Common/components/TableModal.scss
  app/javascript/src/Plans/components/ApplicationPlansTable.jsx
  app/javascript/src/Plans/components/ApplicationPlansTable.scss
  app/javascript/src/Plans/components/ApplicationPlansTableCard.jsx
  app/javascript/src/Plans/components/ApplicationPlansTableCardWrapper.jsx
  app/javascript/src/Plans/components/DefaultPlanSelect.jsx
  app/javascript/src/Plans/components/DefaultPlanSelectCard.jsx
  app/javascript/src/Plans/index.js
  app/javascript/src/Types/index.js
  app/javascript/src/patternflyStyles/table.css
  app/javascript/src/utilities/ajax.js
  app/javascript/src/utilities/confirm-dialog.jsx
  app/models/plan.rb
  app/views/api/application_plans/_listing.html.slim
  app/views/api/application_plans/index.html.slim
  app/views/api/plan_copies/_form.html.erb
  app/views/api/plan_copies/create.js.erb
  app/views/api/plan_copies/new.js.erb
  app/views/api/plans/_table_body.html.erb
  features/api/plans/application_plans.feature
  features/old/api/plans/copy_plan.feature
  features/old/api/plans/creation.feature
  features/old/api/plans/deletion.feature
  features/old/api/plans/hiding.feature
  features/old/api/plans/publishing.feature
  features/old/applications/providers/application_plan.feature
  features/step_definitions/api/plan_steps.rb
  features/step_definitions/custom_web_steps.rb
  features/step_definitions/plans/plans_steps.rb
  features/step_definitions/table_steps.rb
  features/step_definitions/usage_limit_steps.rb
  features/support/helpers/table_helpers.rb
  spec/javascripts/Plans/components/ApplicationPlansTable.spec.jsx
  spec/javascripts/Plans/components/ApplicationPlansTableCard.spec.jsx
  spec/javascripts/Plans/components/__snapshots__/ApplicationPlansTable.spec.jsx.snap
  test/decorators/application_plan_decorator_test.rb
  test/integration/api/application_plans_controller_test.rb
  test/integration/api/plans_controller_test.rb
Labels: javascript, ruby

#2417 [circleci] Rotate 3scale-ninjabot ssh keys
  .circleci/config.yml
Labels: security

#2422 [domain substitution] Use external_* when needed
  app/controllers/admin/api_docs/base_controller.rb
  app/controllers/master/devportal/auth_controller.rb
  app/helpers/account_helper.rb
  app/helpers/buyers/accounts_helper.rb
  app/helpers/payment_details_helper.rb
  app/helpers/vertical_nav_helper.rb
  app/messengers/account_messenger.rb
  app/messengers/alert_messenger.rb
  app/messengers/invitation_messenger.rb
  app/messengers/invoice_messenger.rb
  app/models/api_docs/service.rb
  app/models/sso_token.rb
  app/presenters/oauth_flow_presenter.rb
  app/views/admin/api_docs/base/active_docs.html.erb
  app/views/buyers/accounts/show.html.slim
  app/views/notification_mailer/post_created.html.slim
  app/views/notification_mailer/post_created.text.erb
  app/views/shared/provider/navigation/audience/_portal.html.slim
  app/views/sites/dns/show.html.erb
Labels: tech-debt

#2416 🚨 removes Form module in order to fix Flow name-mapper, fix some war…
  .flowconfig
  app/javascript/packs/OAS3Autocomplete.js
  app/javascript/packs/add_backend_usage.js
  app/javascript/packs/plans_table.js
  app/javascript/src/BackendApis/components/BackendSelect.jsx
  app/javascript/src/BackendApis/index.js
  app/javascript/src/Form/index.jsx
  app/javascript/src/Plans/components/ApplicationPlansTableCardWrapper.jsx
  app/javascript/src/Plans/index.js
  app/javascript/src/Policies/store/configureStore.jsx
  app/javascript/src/Settings/components/AuthenticationSettingsFieldset.jsx
  app/javascript/src/Settings/components/Common/FormCollection.jsx
  app/javascript/src/Settings/components/Common/FormFieldset.jsx
  app/javascript/src/Settings/components/Common/FormLegend.jsx
  app/javascript/src/Settings/components/Common/RadioFieldset.jsx
  app/javascript/src/Settings/components/Common/TypeItemCombo.jsx
  app/javascript/src/Settings/components/Common/index.jsx
  app/javascript/src/Settings/components/Form.jsx
  app/javascript/src/Settings/components/OidcFieldset.jsx
  spec/javascripts/BackendApis/components/AddBackendForm.spec.jsx
  spec/javascripts/Common/components/Common/FormFieldset.spec.jsx
  spec/javascripts/Common/components/Common/FormLegend.spec.jsx
  spec/javascripts/Common/components/Common/__snapshots__/FormFieldset.spec.jsx.snap
  spec/javascripts/Common/components/Common/__snapshots__/FormLegend.spec.jsx.snap
  spec/javascripts/NewService/formElements/ServiceDiscoveryListItems.spec.jsx
  spec/javascripts/Plans/components/ApplicationPlansTable.spec.jsx
  spec/javascripts/Plans/components/ApplicationPlansTableCard.spec.jsx
Labels: javascript

#2400 [payment-gateway] Add three_ds_enabled settings
  app/javascript/packs/braintree3DSecuredisabled.js
  app/models/finance/billing_strategy.rb
  app/models/payment_gateway.rb
  app/models/payment_gateway_setting.rb
  app/services/finance/charging_service.rb
  app/views/finance/provider/settings/show.html.slim
  app/views/payment_gateways/_braintree_customer_form.html.erb
  test/integration/admin/account/payment_gateways_controller_test.rb
  test/unit/payment_gateway_setting_test.rb
  test/unit/payment_gateway_test.rb
  test/unit/services/finance/charging_service_test.rb
Labels: Stale, billing

#2413 [2.11] Embed New Backend form into a modal
  app/assets/javascripts/application.js
  app/controllers/provider/admin/backend_apis_controller.rb
  app/helpers/api/backend_usages_helper.rb
  app/javascript/packs/add_backend_usage.js
  app/javascript/src/BackendApis/components/AddBackendForm.jsx
  app/javascript/src/BackendApis/components/BackendSelect.jsx
  app/javascript/src/BackendApis/components/DescriptionInput.jsx
  app/javascript/src/BackendApis/components/NameInput.jsx
  app/javascript/src/BackendApis/components/NewBackendForm.jsx
  app/javascript/src/BackendApis/components/NewBackendModal.jsx
  app/javascript/src/BackendApis/components/NewBackendModal.scss
  app/javascript/src/BackendApis/components/PrivateEndpointInput.jsx
  app/javascript/src/BackendApis/components/SystemNameInput.jsx
  app/javascript/src/BackendApis/index.js
  app/javascript/src/Types/index.js
  app/javascript/src/utilities/patternfly-utils.jsx
  spec/javascripts/BackendApis/components/AddBackendForm.spec.jsx
  spec/javascripts/BackendApis/components/BackendSelect.spec.jsx
  spec/javascripts/BackendApis/components/DescriptionInput.spec.jsx
  spec/javascripts/BackendApis/components/NameInput.spec.jsx
  spec/javascripts/BackendApis/components/NewBackendForm.spec.jsx
  spec/javascripts/BackendApis/components/NewBackendModal.spec.jsx
  spec/javascripts/BackendApis/components/PrivateEndpointInput.spec.jsx
  spec/javascripts/BackendApis/components/SystemNameInput.spec.jsx
  spec/javascripts/__mocks__/global-mocks.js
Labels: javascript, ruby

#2424 [gem] Remove sidekiq-pro
  Gemfile
  Gemfile.base
  Gemfile.prod
  Gemfile.prod.lock
  doc/dependency_decisions.yml
  features/support/sidekiq.rb
Labels: dependencies, ruby, tech-debt

#2429 [gem] Update webmock to 3.8.0 to support ruby 2.6
  Gemfile.base
  Gemfile.lock
  Gemfile.prod.lock
Labels: dependencies, ruby
